<div class="grid grid-cols-4">
  <div class="col-span-3">
    <div class="flex mb-4 px-3">
      <img src="https://placeholder.pics/svg/50"
           class="flex-initial self-center w-16 h-16 mr-2 rounded-lg">
      <h1  class="text-lg font-bold"><%= @user.username %></h1>
    </div>
    <div id="blips" class="divide-y divide-gray-200 px-3">
      <%= render Profile::BlipComponent.with_collection @blips %>
    </div>
  </div>
  <div id="profile-sidebar" class="bg-green-100 border-2 border-gray-200">
    <div id="profile-info" class="p-2">
      <div class="flex gap-2">
        <span class="flex-initial font-semibold">Name</span>
        <span class="flex-auto italic"><%= @user.realname %></span>
      </div>
      <div class="flex gap-2">
        <span class="flex-initial font-semibold">Location</span>
        <span class="flex-auto italic"><%= @user.location %></span>
      </div>
      <div class="flex gap-2">
        <span class="flex-initial font-semibold">Web</span>
        <span class="flex-auto italic"><%= @user.web %></span>
      </div>
      <div class="flex gap-2">
        <span class="flex-initial font-semibold">Bio</span>
        <span class="flex-auto italic"><%= @user.bio %></span>
      </div>
    </div>
    <div class="flex p-2">
      <div class="flex-auto">
        <a href="#">
          <div><%= @user.followees.count %></div>
          <div class="text-sm">following</div>
        </a>
      </div>
      <div class="flex-auto">
        <a href="#">
          <div><%= @user.followers.count %></div>
          <div class="text-sm">followers</div>
        </a>
      </div>
      <div class="flex-auto">
        <a href="#">
          <div><%= @user.blips.count %></div>
          <div class="text-sm">updates</div>
        </a>
      </div>
    </div>
    <div class="text-xl px-2 py-4"><a href="#">Updates</a></div>
    <div class="text-xl px-2 py-4"><a href="#">Favorites</a></div>
  </div>
</div>